// Small tablets and large smartphones (landscape view)
$screen-xs-max: 375px;
$screen-sm-max: 576px;
$screen-tablet-max: 768px;

// xs devices
@mixin xs {
   @media (max-width: #{$screen-xs-max}) {
       @content;
   }
}

// Small devices
@mixin sm {
   @media (max-width: #{$screen-sm-max}) {
       @content;
   }
}

// Tablets
@mixin tablet {
   @media (max-width: #{$screen-tablet-max}) {
       @content;
   }
}